@keyframes vibrate {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-1px);
  }
  40% {
    transform: translateX(1px);
  }
  60% {
    transform: translateX(-1px);
  }
  80% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(0);
  }
}

.string {
  cursor: pointer;
  transition: transform 0.05s ease;
}

.vibrating {
  animation: vibrate 0.05s ease infinite;
  stroke-width: 0.5;
}
